*{
  background-color: #282c34;
  width: 100%;
  float: left;
  margin: 0px;
}

li{
  color: white;
}

.Div1{
 display: flex;
}

.Foto{
  width: 40%;
} 

.Foto img{
  height: 40vh;
}

.Nama{
  display: flex;
  width: 60%;
  color: white;
  text-align: center;
  align-items: center;
}

.Div2{
  display: flex;
  height: 40vh;
  width: 40%;
}

.Div3{
  width: 50%;
}

button {
  background-color: #6495ed;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  width: 250px;
}

.divbiodata{
  width: 60%;
}

.panel {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  transition: 0.4s;
}

.panel p {
  background-color: white;
}